$pageWidth: 1920px;
$pageHeight: 1080px;

$borderRadius: 15px;

$accent-light: #81D107;
$accent-light-alpha: rgba(129, 209, 7, 0.75);
$accent-medium: #6DB106;
$accent-medium-alpha: rgba(109, 177, 6, 0.75);
$accent-dark: #089347;

$dark-text-color: #1E1E1E;
$light-text-color: #fff;
