@import '../../styles/layout';
@import '../../styles/fonts';

@import './main-scene.scss';
@import './teams.scss';

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    color: white;
}

.content-wrapper {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0; left: 0;
}

.scene-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

body > .background {
    z-index: -1;
    background-image: url('/assets/SqSS_BrandBackground-2.png');
    background-size: cover;
}
