@import '../../styles/constants';

.main-scene-wrapper {
    .logo-section {
        width: 900px;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);

        .logo {
            height: 100%;
            width: 550px;

            position: absolute;
            left: 125px;

            .logo-container {
                width: 550px;
                height: 100%;

                transform: scale(2.2);
            }
        }

        .background {
            width: 1732px;
            height: 1732px;

            $background-stripe-width: 75px;
            background: repeating-linear-gradient(
                    60deg,
                    $accent-light-alpha,
                    $accent-light-alpha $background-stripe-width,
                    $accent-medium-alpha $background-stripe-width,
                    $accent-medium-alpha $background-stripe-width * 2
            );
        }
    }

    .info-section {
        position: absolute;
        right: 0;

        .data-container {
            width: 875px;
            position: relative;
            transform-origin: center 130px;
            will-change: transform;

            img {
                width: 100%;
                filter:
                    drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6))
                    drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
            }

            .content {
                position: absolute;
                bottom: 22%;
                left: 2%;
                width: 96%;
                height: 42%;

                .row {
                    height: 50px;

                    > .icon {
                        width: 50px;
                        font-size: 48px;
                        margin-right: 15px;
                    }

                    > fitted-text, > span {
                        font-size: 48px;
                    }
                }

                .flavor-text {
                    font-size: 75px;
                    font-weight: 700;
                    height: 80px;
                    margin-top: -25px;
                    margin-bottom: 25px;
                }
            }

            &.data-container-main {
                right: 75px;
                top: 75px;
                transform: rotate(-3deg);
            }

            &.data-container-support {
                right: 95px;
                bottom: 10px;
                transform: rotate(1deg);

                .support-container {
                    position: absolute;
                    top: 85px;
                }
            }
        }
    }
}
