@import '../../styles/constants';

.stages-wrapper {
    .scoreboard {
        width: 1000px;
        height: 65px;
        display: grid;
        grid-template-columns: 1fr 150px 1fr;
        border-radius: 15px;
        overflow: hidden;
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
        background-color: #222;
        opacity: 0;

        .scores {
            display: grid;
            grid-template-columns: 1fr 0.5fr 1fr;
            text-align: center;
            align-content: center;
            background-color: $accent-light;
            border-radius: 10px;

            div {
                font-size: 55px;
                line-height: 55px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;

                color: $dark-text-color;
            }
        }

        .team-name-background {
            height: 100%;
            padding: 0 20px;

            fitted-text {
                font-size: 50px;
                line-height: 65px;
            }
        }
    }

    .stages {
        height: 600px;
        margin-top: 50px;

        &.stage-count-3 {
            .stage {
                width: 330px;
            }
        }

        .stage {
            opacity: 0;

            height: 100%;
            position: relative;
            margin: 0 15px;

            border-radius: 15px;
            overflow: hidden;

            filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));

            .stage-image {
                background-image: url('/assets/stages/S2_Stage_Ancho-V_Games.png');
                background-size: cover;
                background-position: center center;

                width: 100%;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;

                z-index: -1;
            }

            .stage-data {
                align-self: flex-end;
                justify-content: flex-end;
                padding: 0 10px;
                height: 400px;
                width: 100%;
                background: linear-gradient(0deg, rgba(34, 34, 34, 0.9) 0%, rgba(34, 34, 34, 0.5) 75%, rgba(34, 34, 34, 0) 100%);

                .mode {
                    font-weight: 300;
                    font-size: 40px;
                    line-height: 50px;
                }

                .stage-name {
                    font-size: 55px;
                    line-height: 60px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }

            .stage-winner {
                justify-content: flex-end;
                padding: 7px 10px 0;
                position: absolute;
                width: calc(100% - 20px);
                height: 100%;
                top: 0;
                left: 0;
                word-break: break-all;
                text-align: right;
                font-size: 45px;
                line-height: 52px;
                font-weight: 300;

                background: linear-gradient(180deg, rgba(34, 34, 34, 0.9) 0%, rgba(34, 34, 34, 0.5) 40%, rgba(34, 34, 34, 0) 50%);
            }
        }
    }
}
