@import '../../styles/constants';
@import '../../styles/layout';
@import '../../styles/fonts';

@import './scoreboard.scss';

body {
    background-color: #aaa;
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    color: white;
}
